<a href= "/bikes">← Back to Catalog</a>

<div class="bike-detail">

  <div class="bike-photo">
    <img
      src="<%= @bike['img_url'] %>"
      alt="<%= @bike['name'] %>"
    >
  </div>

  <div class="bike-info">
    <h1 class="bike-title">
      <%= @bike['name'] %>
    </h1>
    <p class="bike-description"><%= @bike['long_description'].gsub("\n", "<br><br>") %></p>
    <p class="price">
      $<%= @bike['price'] %>
    </p>
    <form
      method="post"
      action="/cart/add/<%= @bike['id'] %>">
      <button type="submit">
        Add to Cart
      </button>
    </form>
    <p>In stock: <%= @bike['inventory'] %></p>
  </div>

</div>