<h1>All Bikes</h1>
<div class="container">
    <div class="bike-grid">
        <% @bikes.each do |bike| %>
            <div class="bike-card">

                <a href="/bikes/<%= bike['slug'] %>" class="bike-image-link">
                    <img
                    src="<%= bike['img_url'] %>"
                    alt="<%= bike['name'] %>"
                    class="bike-image"
                    >

                    <div class="bike-overlay">
                    <p><%= bike['short_description'] %></p>
                    </div>
                </a>

                <h2>
                    <a href="/bikes/<%= bike['slug'] %>">
                    <%= bike['name'] %>
                    </a>
                </h2>

                <p class="price">
                    $<%= bike['price'] %>
                </p>

            </div>
        <% end %>
    </div>
</div>