<h1>Hobby Bikes Catalog</h1>
<% @bikes.each do |bike| %>

<div>
    <h2>
        <a href="/bikes/<%= bike['id'] %>">
        <%= bike['name'] %>
        </a>
    </h2>
    <img
    src="<%= bike['img_url'] %>"
    alt="<%= bike['name'] %>"
    width="300"
  >
    <p><%= bike['description'] %></p>
    <p>Price: $<%= bike['price'] %></p>
    <p>In stock: <%= bike['inventory'] %></p>
</div>

<hr>
<% end %>